<!--
  Generated template for the AgregarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ lista.titulo }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      Tareas por hacer
    </ion-list-header>
    <ion-item>
      <ion-label floating>Nuevo Item</ion-label>
      <ion-input [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()" type="text"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header *ngIf="lista.items.length > 0">
      Tareas por hacer
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of lista.items;let i = index" class="animated fadeInDown">
      <ion-item (click)="completadoItem(item)">
        <ion-icon *ngIf="item.completado" name="md-checkbox-outline" item-start></ion-icon>
        <ion-icon *ngIf="! item.completado" name="md-square-outline" item-start></ion-icon>
          {{ item.desc }}
      </ion-item>
      <ion-item-options side="right">
        <button (click)="deleteItem(i)" ion-button icon-only color="danger">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
