<!--
  Generated template for the PendientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pendientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="../../assets//imgs/pendientes.jpg" alt="">

  <page-listas></page-listas>

  <ion-fab bottom right>
    <button ion-fab (click)="agregarlista()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
