<!--
  Generated template for the TerminadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Completados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <img src="../../assets//imgs/completados.jpg" alt="">

    <page-listas [terminada]="true"></page-listas>
</ion-content>
