<!--
  Generated template for the ListasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-list>
    <ion-item-sliding #slidingItem *ngFor="let lista of deseosProvider.listas | filtroCompletado: terminada" (click)="itemSelected(lista)">
      <ion-item>
        {{ lista.titulo }}

        <ion-note item-end>
          {{ lista.items.length }} Items
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
          <ion-icon name="md-close"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button (click)="editarLista(lista, slidingItem)" ion-button icon-only color="info">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
